### Installing and importing libraries

In [ ]:
!pip install -q mysql-connector-python

In [ ]:
import mysql.connector
import sqlite3

### Creating database and a cursor to establish connection

In [ ]:
db_connection = sqlite3.connect('bwh_almost_east_coast.db')

In [ ]:
cursor = db_connection.cursor()

### Creating the Occupations table

In [ ]:
create_table_query1 = '''
CREATE TABLE IF NOT EXISTS occupations (
    o_id INTEGER PRIMARY KEY,
    occupation TEXT
)
'''

cursor.execute(create_table_query1)

In [ ]:
db_connection.commit()

In [ ]:
## cursor.execute("DELETE FROM occupations WHERE o_id = ?", (1,))

In [ ]:
## cursor.execute("SELECT * FROM occupations WHERE o_id = ?", (1,))
## print(cursor.fetchall())

[]

In [ ]:
occupation_data_query1 = '''
INSERT INTO occupations (o_id, occupation) VALUES (?,?)
'''
data1 = (1, 'Firefighter')
cursor.execute(occupation_data_query1, data1)

In [ ]:
db_connection.commit()

In [ ]:
occupation_data_query2 = '''
INSERT INTO occupations (o_id, occupation) VALUES (?,?)
'''
data2 = (2, 'Painter')
cursor.execute(occupation_data_query2, data2)

In [ ]:
db_connection.commit()

In [ ]:
occupation_data_query3 = '''
INSERT INTO occupations (o_id, occupation) VALUES (?,?)
'''
data3 = (3, 'Carpenter')
cursor.execute(occupation_data_query3, data3)

In [ ]:
db_connection.commit()

In [ ]:
occupation_data_query4 = '''
INSERT INTO occupations (o_id, occupation) VALUES (?,?)
'''
data4 = (4, 'Software Engineer')
cursor.execute(occupation_data_query4, data4)

In [ ]:
db_connection.commit()

### Creating the Retirement Home table

In [ ]:


create_table_query2 = '''
CREATE TABLE IF NOT EXISTS retirement_home (
    rh_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    location TEXT,
    threshold_distance INTEGER
    username text,
)
'''

## resources TEXT REFERENCES occupation(occupation) -- keeping it here to use it later
cursor.execute(create_table_query2)

In [ ]:
retirement_home_data_query1 = '''
INSERT INTO retirement_home (rh_id, name, location, threshold_distance) VALUES (?,?,?,?)
'''
data = (1, 'Intergenerational Retirement Home', 'New York City', 50)
cursor.execute(retirement_home_data_query1, data)

In [ ]:
db_connection.commit()

### Creating the Community Organization table

In [ ]:
create_table_query3 = '''
CREATE TABLE IF NOT EXISTS community_organization (
    co_id INTEGER PRIMARY KEY,
    name TEXT,
    location TEXT,
    threshold_distance INTEGER
)
'''

cursor.execute(create_table_query3)

In [ ]:
community_organization_data_query1 = '''
INSERT INTO community_organization (co_id, name, location, threshold_distance) VALUES (?,?,?,?)
'''
data = (1, 'Icahn Charter 4 School', 'New York City', 50)
cursor.execute(community_organization_data_query1, data)

In [ ]:
db_connection.commit()

### Creating the Occupations in Retirement Homes table

In [ ]:
# Create the occupations_in_retirement_homes table if it does not exist
create_table_query3 = '''
CREATE TABLE IF NOT EXISTS occupations_in_retirement_homes (
    oirh_id INTEGER PRIMARY KEY,
    name TEXT,
    count INTEGER
)
'''
cursor.execute(create_table_query3)

# Insert data into the occupations_in_retirement_homes table
occupations_in_retirement_homes_data_query1 = '''
INSERT INTO occupations_in_retirement_homes (oirh_id, name, count) VALUES (?,?,?)
'''
data = (1, 'Firefighter', 5)
cursor.execute(occupations_in_retirement_homes_data_query1, data)

In [ ]:
db_connection.commit()

### Displaying Occupations Table

In [ ]:
select_query_occupations = '''
SELECT * FROM occupations
'''
cursor.execute(select_query_occupations)

In [ ]:
result = cursor.fetchall()

In [ ]:
for row in result:
    print(row)

(1, 'Firefighter')
(2, 'Painter')
(3, 'Carpenter')
(4, 'Software Engineer')

### Displaying Retirement Home Table

In [ ]:
select_query_retirement_home = '''
SELECT * FROM retirement_home
'''
cursor.execute(select_query_retirement_home)

result = cursor.fetchall()

for row in result:
    print(row)

(1, 'Intergenerational Retirement Home', 'New York City', 50)

### Displaying Community Organizations Table

In [ ]:
select_query_community_organization = '''
SELECT * FROM community_organization
'''
cursor.execute(select_query_community_organization)

result = cursor.fetchall()

for row in result:
    print(row)

(1, 'Icahn Charter 4 School', 'New York City', 50)

### Displaying Occupations in retirement homes Table

In [ ]:
select_query_occupations_in_retirement_homes = '''
SELECT * FROM occupations_in_retirement_homes
'''
cursor.execute(select_query_occupations_in_retirement_homes)

result = cursor.fetchall()

for row in result:
    print(row)

(1, 'Firefighter', 5)

##Login Table

Notes:

For sign up:
Take username and password. Check if username exists in the DB
  a. If it does, return error saying username already exists
  b. If it doesn't, encrypt the password (use SHA256, or SHA512) to hash the password and store in the table.

For sign in:
Take username and password. Check if username exists in DB.
  a. If it does, get the password of the user from the DB, decrypt it and then match the password with the string given by the user. If it works, let the user see the next page. If it doesn't, give error
  b. If it doesn't, tell user to sign up first before logging in.

In [ ]:
##Login Table

create_table_query3 = '''
CREATE TABLE IF NOT EXISTS login_info (
    login_id INTEGER PRIMARY KEY,
    username TEXT,
    password TEXT

)
'''
cursor.execute(create_table_query3)

In [ ]:
import hashlib
def hash_password(password):
    hashed_password = hashlib.sha256(password.encode('utf-8')).hexdigest()
    return hashed_password

In [39]:
def create_table():

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            username TEXT,
            password TEXT
        )
    ''')

def check_existing_username(username):

    cursor.execute('SELECT * FROM users WHERE username=?', (username,))
    user = cursor.fetchone()

    return user is not None

def register_user(username, password):



    if check_existing_username(username):
        print("Username already exists. Please choose a different username.")

        return False


    hashed_password = hash_password(password)


    cursor.execute('INSERT INTO users (username, password) VALUES (?, ?)', (username, hashed_password))

    print("User registered successfully!")


    return True

def authenticate_user(username, password):


    cursor.execute('SELECT * FROM users WHERE username=?', (username,))
    user = cursor.fetchone()

    if user:
        # Get the hashed password from the database
        stored_password = user[2]

        while True:
            # Hash the provided password for comparison
            input_password = input("Enter your password: ")

            if input_password.lower() == 'exit':
                print("Authentication aborted.")
                break

            hashed_password = hash_password(input_password)

            # Compare the hashed passwords
            if hashed_password == stored_password:
                print("Login successful!")
                break
            else:
                print("Invalid password. Please try again or type 'exit' to quit.")
    else:
        print("Username not found. Please sign up.")




create_table()

In [ ]:
# Sign Up
new_username = input("Enter a username: ")
new_password = input("Enter a password: ")

if register_user(new_username, new_password):
    print("Registration successful!")
else:
    print("Registration failed.")

In [41]:

# Sign In
login_username = input("Enter your username: ")
authenticate_user(login_username, "")

Enter your username: berde
Enter your password: berde12345
Invalid password. Please try again or type 'exit' to quit.
Enter your password: berde123
Login successful!

### Sending emails

In [ ]:
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

In [ ]:
### we should create an email for the platform

sender_email = "priyankabose22812@gmail.com"
sender_password = "gdnk qppb wcax qdbn"

In [ ]:
recipient_email = "priyanka.bose@nyu.edu"

In [ ]:
subject = "Subject of the email"
body = "Body of the email"
message = MIMEMultipart()
message['From'] = sender_email
message['To'] = recipient_email
message['Subject'] = subject
message.attach(MIMEText(body, 'plain'))

In [ ]:
smtp_server = "smtp.gmail.com"
smtp_port = 587
with smtplib.SMTP(smtp_server, smtp_port) as server:
    # Start the TLS connection (for security)
    server.starttls()

    # Log in to the email account
    server.login(sender_email, sender_password)

    # Send the email
    server.sendmail(sender_email, recipient_email, message.as_string())

print("Email sent successfully!")

Email sent successfully!

In [45]:
create_table_query4 = '''CREATE TABLE IF NOT EXISTS events (
    event_id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_name TEXT NOT NULL,
    entity_id INTEGER,
    poc_email TEXT NOT NULL,
    creation_date DATE NOT NULL,
    event_date DATE NOT NULL,


    FOREIGN KEY (entity_id) REFERENCES retirement_home(rh_id)

)
'''

cursor.execute(create_table_query4)